<header style="height: 80px; background-color: #fff;">
  <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #fff">
    <div class="container-lg w-100">
      <p-menubar [model]="items">
        <ng-template pTemplate="start">
          <p class="fw-bold m-0 me-2" style="color: #0089d6;">
            <span><fa-icon [icon]="faSuitcase"></fa-icon></span>
            J-HUNT
          </p>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
          <a pRipple [routerLink]="item.routerLink" class="flex align-items-center p-menuitem-link text-decoration-none text-black">
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
        <ng-template pTemplate="end">
          <div class="d-flex align-items-center justify-content-end">
            <div id="company-profile" style="padding: 10px; background-color: #f2f8ff; border-radius: 10px">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="avatar">
                    @if (user?.avatar) {
                      <img [src]="user?.avatar" class="img-fluid" alt="Avatar">
                    } @else {
                      <img src="../../../../assets/images/default-avatar.jpg" class="img-fluid" alt="Avatar">
                    }
                  </div>
                  <div class="company-info d-none d-md-block">
                    @if (user) {
                      <p class="company-name text-black fw-bold m-0">{{user.name}}</p>
                      <p class="company-tax m-0">{{user.phoneNumber}}</p>
                    } @else {
                      <p class="company-name text-black fw-bold m-0">Job Hunt Company</p>
                      <p class="company-tax m-0">0101245486</p>
                    }
                  </div>
                </div>
                <div style="width: 32px; height: 32px" class="d-flex justify-content-center align-items-center">
                  <div class="action-info w-100 d-flex justify-content-center align-items-center">
                    <fa-icon [icon]="faEllipsisVertical" size="lg"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
            <app-notification [notifications]="notifications"></app-notification>
          </div>
        </ng-template>
      </p-menubar>
    </div>
  </nav>
</header>
