.container-tabs {
  width: 100%;
  .tabs {
    width: 100%;
    .tab {
      width: 50%;
      border-bottom: 2px solid #f6f6f678;
      label {
        align-items: center;
        height: 40px;
        display: flex;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
          background-color:  #f6f6f678;
          color: #0089d6 !important;
          cursor: pointer;
        }
      }
    }
  }
}

.enterprise-container {
  background: #fff;
  border-radius: 10px;
  margin: 20px 0;
  width: 90%;
}

.active {
  border-bottom: 2px solid #0089d6;
  background: #f6f6f678;
  color: #0089d6;
}

.form-enterprise-info {
  .enterprise-logo {
    .avatar-container {
      width: 100%;
      border: 2px solid #0089d6;
      border-radius: 50%;
    }
    .avatar-overlay {
      width: 100%;
      height: 30%;
      background: #fff;
      opacity: 0.4;
      bottom: -2px;
      left: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
