<footer class="pt-2 pb-4">
  <div class="container-xxl text-left text-md-left">
    <div class="row text-left text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">JOB HUNT COMPANY</h5>
        <p>Những nhà tuyển dụng kết nối với J-HUNT đều là những công ty lớn tại Việt Nam, nơi bạn có thể làm việc trong một môi trường chuyên nghiệp, năng động, trẻ trung. TopCV là nền tảng tuyển dụng công nghệ cao giúp các nhà tuyển dụng và ứng viên kết nối với nhau.</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Về J-HUNT</h6>
        <p>
          <a href="" class="text-decoration-none">Giới thiệu</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Báo chí</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Tuyển dụng</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Hỏi đáp</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Điều khoản và dịch vụ</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Xây dựng sự nghiệp</h6>
        <p>
          <a href="" class="text-decoration-none">Việc làm tốt nhất</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Việc làm lương cao</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Việc làm IT</a>
        </p>
        <p>
          <a href="" class="text-decoration-none">Việc làm quản lý</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h6>
        <p>
          <fa-icon [icon]="faHome"></fa-icon>Việt Nam
        </p>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon>job-hunt.contact&#64;gmail.com
        </p>
        <p>
          <fa-icon [icon]="faPhone"></fa-icon>+ 0867628xxx
        </p>
        <p>
          <fa-icon [icon]="faPrint"></fa-icon>+ 0867628xxx
        </p>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>Copyright &#64;2024 All rights reserved by: <a href="" class="text-decoration-none"><strong style="color: #0089d6;">JOB HUNT COMPANY</strong></a></p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm" style="font-size: 23px;"><fa-icon [icon]="faFaceBook"></fa-icon></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm" style="font-size: 23px;"><fa-icon [icon]="faTwitter"></fa-icon></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm" style="font-size: 23px;"><fa-icon [icon]="faGooglePlus"></fa-icon></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm" style="font-size: 23px;"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </li>
            <li class="list-inline-item">
              <a href="" class="btn-floating btn-sm" style="font-size: 23px;"><fa-icon [icon]="faYoutube"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
