<section id="enterprise-info"
         style="background-color: #f2f8ff"
         class="d-flex justify-content-center w-100">
  <div class="d-flex justify-content-center flex-column client-homepage">
    <div class="client-intro text-center">
      <h2 class="intro-tile">
        Tìm việc làm nhanh 24h, việc làm mới nhất trên toàn quốc.
      </h2>
      <p class="intro-p">Tiếp cận <strong>40,000+</strong> tin tuyển dụng việc làm mỗi ngày từ hàng nghìn doanh nghiệp
        uy tín tại Việt Nam</p>
    </div>
    <div class="search-container mx-auto position-absolute" style="margin-bottom: 25px; width: 90%;">
      <form [formGroup]="searchForm" (ngSubmit)="searchJob()">
        <div class="row">
          <div class="search-box d-inline-block col-lg-5 col-md-12">
            <div class="d-flex">
              <input placeholder="Tìm kiếm công việc..." formControlName="searchText" type="text" class="search-input flex-grow-1">
              <button type="submit" class="btn search-btn">Tìm kiếm</button>
            </div>
          </div>
          <div class="location-filter col-lg-3 col-md-6 mt-md-3 mt-lg-0">
            <p-dropdown
              [options]="countries"
              formControlName="selectedCity"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Lựa chọn thành phố">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-city pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ city.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="job-type-filter col-lg-4 col-md-6 mt-md-3 mt-lg-0">
            <p-dropdown
              [options]="jobTypes"
              formControlName="selectedJobType"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Lựa chọn ngành nghề">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-jobType pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ jobType.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </form>
    </div>
    <div style="min-height: 500px; background: #fff; margin-top: 45px;">
      <div class="container-lg client-homepage-content">
        <div>
          <h3 style="color: #007ad9">Việc làm gợi ý</h3>
          <div class="row">
            @for (post of posts; track post) {
              <div class="col-lg-4 col-md-6" style="margin: 8px 0">
                <app-post [post]="post"></app-post>
              </div>
            }
          </div>
        </div>
        <div style="margin-top: 15px">
          <h3 style="color: #007ad9">Top công ty hàng đầu</h3>
          <div class="company-carousel">
            <p-carousel
              [value]="companies"
              [numVisible]="4"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions">
              <ng-template let-company pTemplate="item">
                <div class="m-2 p-2 company-card d-flex flex-column justify-content-center align-items-center">
                  @if (company.avatar) {
                    <img [src]="company?.avatar" class="img-fluid" alt="Avatar">
                  } @else {
                    <img src="../../../assets/images/default-avatar.jpg" class="img-fluid">
                  }
                  <p class="fw-bold m-0 company-carousel-name" style="padding-top: 6px">{{company.name}}</p>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
        <div>
          <h3 style="color: #007ad9">Ngành nghề nổi bật</h3>
          <div class="top-job-types-carousel">
            <p-carousel
              [value]="topJobTypes"
              [numVisible]="4"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions">
              <ng-template let-jobType pTemplate="item">
                <div class="m-2 p-2 job-type-card d-flex flex-column justify-content-center align-items-center">
                  @if (jobType.avatar) {
                    <img [src]="jobType?.avatar" class="img-fluid" alt="Avatar">
                  } @else {
                    <img src="../../../assets/images/default-avatar.jpg" class="img-fluid" alt="Image">
                  }
                  <p class="fw-bold m-0 job-type-name" style="padding-top: 6px">{{jobType.name}}</p>
                  <p style="color: #007ad9; font-size: 14px">{{jobType.amount | number:'1.0'}} <span>việc làm</span></p>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
