.notification-avatar {
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}

.notification-dropdown {
  width: 500px;
  padding: 10px;
}

.notification-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.notification-item:hover {
  background: #f2f8ff;
  cursor: pointer;
}

.notification-item i {
  margin-right: 10px;
  color: #007ad9;
}

.container-tabs {
  width: 100%;
  .tabs {
    width: 100%;
    .tab {
      width: 50%;
      border-bottom: 2px solid #f6f6f678;
      input {
        display: none;
        font-size: 10px;
        width: 100%;
      }
      label {
        align-items: center;
        height: 40px;
        display: flex;
        justify-content: center;
        &:hover {
          background-color:  #f6f6f678;
          color: #0089d6 !important;
          cursor: pointer;
        }
      }
    }
  }
}

.active {
  border-bottom: 2px solid #0089d6;
  background: #f6f6f678;
  color: #0089d6;
}
